.navbar
{
  width: 100%;
  height: 60px;
  background-color: #333;

  .logo-link
  {
    .logo
    {
      height: 50px;
      width: 150px;
      margin-left: 5px;
      margin-top: 5px;
    }
  }

  .menubutton-container
  {
    display: inline-block;
    float: right;
    .menubutton
    {
      display:inline-block;
      color: #eee;
      text-decoration: none;
      width: 100px;
      height: 60px;
      padding-top: 20px;
    }
  }
}
